html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

body > * {
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 150px;
  position: sticky;
  top: 0;
}

header picture {
  height: 50px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-image: url(../../../multimedia/funkos-banner.webp);
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.section {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  text-align: center;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}

.contenido {
  flex-direction: column;
  margin-left: 80px;
}

.imagen {
  object-fit: contain;
}

hr {
  border-color: #990000;
  justify-items: space-evenly;
  width: 30vw;
}
.coleccion {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 291.81px;
  height: 65px;
  margin-left: 80px;
  margin-top: 20px;

  background: #30343f;
  border-radius: 50px;
}

.ver-coleccion {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: azure;
  text-decoration: none;
}
/* .section:nth-child(odd) {
  background-color: #333;
} */

/* .section:nth-child(even) {
  background-color: #666;
} */

.contenido-2 {
  flex-direction: column;
  margin-right: 80px;
}

.coleccion-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 291.81px;
  height: 65px;
  margin-right: 80px;
  margin-top: 20px;

  background: #30343f;
  border-radius: 50px;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  height: 343px;
}

.logo img {
  height: 50px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  margin-bottom: 10px;
}

.copyright {
  margin-bottom: 5px;
  align-self: end;
}
